<h1>Medal Table</h1>

<table>

  <thead>
    <tr>
      <th class="table_background">Nation</th>
      <th class="table_background"></th>
      <th class="table_background"><img src="../images/gold.jpg" class="medal"></th>
      <th class="table_background"><img src="../images/silver.jpg" class="medal"></th>
      <th class="table_background"><img src="../images/bronze.jpg" class="medal"></th>
      <th class="table_background">Points</th>
    </tr>
  </thead>
  <tbody>
  <% @result.nations.each do |nation| %>
    <tr>
      <td class="table_background nation_link"><a href="/nations/<%= nation.id %>"><%= nation.name %></td>
      <td class="table_background"><img class="table_flags" src="<%= nation.flag_url %>"></td>
      <td class="gold"><%= @result.did_win_gold?(nation.id) %></td>
      <td class="silver"><%= @result.did_win_silver?(nation.id) %></td>
      <td class="bronze"><%= @result.did_win_bronze?(nation.id) %></td>
      <td class="points"><%= @result.total_points(nation.id) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<button class="home"><a href="/home">Back to HomePage</a></button>

