<div class="athlete_container">
  <h1>Athletes Name:<br> <%= @athlete.name%></h1>
  <h2>Athletes Nation:<br> <%= @nations.name %></h2>
  <img src="<%= @nations.flag_url %>">
  <h3>Events : </h3>
  <% @athlete.events.each do |event| %>
  <%= event.event_name %> <br><br>
  <%= @athlete.athlete_stats %>
  <img src="<%= @athlete.athlete_image %>">
  <% end %>
</div>

<br>
<button class="home"><a href="/athletes">Back to Athletes</a></button>